// Estilos de cabecera
ion-header {
  ion-toolbar {
    --background: #4A4A4A; // Cambia el color de fondo de la barra de herramientas
    ion-title {
      color: #fff; // Cambia el color del texto del título
      font-size: 1.5rem; // Ajusta el tamaño de fuente del título
      font-weight: bold; // Establece la negrita para el título
    }
  }
}

// Estilos de contenido
ion-content {
  --background: #363636; // Cambia el color de fondo del contenido
  #container {
    display: flex; // Activa el modo flexible para el contenedor
    flex-direction: column; // Ajusta la dirección del flujo de elementos
    align-items: center; // Centra los elementos horizontalmente
    justify-content: center; // Centra los elementos verticalmente
    height: 100%; // Establece el alto del contenedor al 100%
    ion-label {
      color: #fff; // Cambia el color del texto de la etiqueta
      font-size: 1.2rem; // Ajusta el tamaño de fuente de la etiqueta
      margin-bottom: 1rem; // Añade un espacio entre la etiqueta y el input
    }
    input {
      color: #fff; // Cambia el color del texto del input
      font-size: 1.2rem; // Ajusta el tamaño de fuente del input
      padding: 0.5rem; // Ajusta el padding del input
      background-color: #4A4A4A; // Cambia el color de fondo del input
      border: none; // Elimina el borde del input
      border-radius: 0.3rem; // Ajusta el radio de borde del input
      margin-bottom: 1rem; // Añade un espacio entre el input y el botón
      text-align: center; // Centra el texto del input
    }
    button {
      color: #fff; // Cambia el color del texto del botón
      font-size: 1.2rem; // Ajusta el tamaño de fuente del botón
      padding: 0.5rem 1rem; // Ajusta el padding del botón
      background-color: #7289da; // Cambia el color de fondo del botón
      border: none; // Elimina el borde del botón
      border-radius: 0.3rem; // Ajusta el radio de borde del botón
      text-align: center; // Centra el texto del botón
    }
  }
  .avatar {
    float: left;
    margin: 100px;
  }


}

