<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Test del Local Storage🤑
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Testing - Add LocalStorage
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img class="avatar" src="https://tr.rbxcdn.com/1e5e490f95d30671e35a4e952485905d/420/420/Image/Png.png">
    <ion-label>{{recovertext}}</ion-label>
    <input type="text" [(ngModel)]="receivetext">
    <button (click)="print()">Send</button>
  </div>


</ion-content>
